<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605138335223-34e58cuufb9sfnr38hsg56l5opgl0ot1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605138335223-34e58cuufb9sfnr38hsg56l5opgl0ot1</string>
	<key>API_KEY</key>
	<string>AIzaSyDk4FD7drOgPYVnBZqS8J7e-o3tlLeEH2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>605138335223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zeynep-Dundar.HaliApp</string>
	<key>PROJECT_ID</key>
	<string>haliapp-a1ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>haliapp-a1ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:605138335223:ios:41cef33e40e2d7fb1b2af2</string>
</dict>
</plist>
